In [14]:
'''
판다스 기초
'''

import pandas as pd

names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births))
print(BabyDataSet)
df = pd.DataFrame(data=BabyDataSet, columns=['Names', 'Births'])

df.head()

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [15]:
df.dtypes

Names     object
Births     int64
dtype: object

In [16]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [18]:
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [19]:
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [20]:
df[df['Births'] > 100]

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [21]:
df.mean()

Births    550.2
dtype: float64